
* {
box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body, html {
    margin: 0; 
    padding: 0;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-style: normal;
    max-width: 1440px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper {
    max-width: 1440px;
    margin: auto;
}
    

img {
    max-width: 100%;
    height: auto;
}

/*HEADER*/

.header {
    position: relative;
    background-color:rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    height: 90px;
    
}

.header-wrapper {
    display: flex;
    flex-wrap: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    flex: none;
    width: 216px;
    height: 31px;
    margin-left: 120px;
    top: 25px;
}

a.header-vector {
   text-decoration: none; 
}
.header-TravelPortal {
    
    font-family: 'Magra', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    
}

  .nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: 100px;
    
}

.nav-link {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    margin-right: 82px;
    
    left: 494px;
    right: 419px; 
    gap: 42px;
    bottom: 34px;
   
    
    top: 35px;
    
    color: #FFFFFF;
    width: 105px;
    height: 21px;
}

.nav-item {
list-style-type: none;
    
}
.nav-item:hover, .nav-item:focus, .nav-item:active {
 opacity: .50;
}

.button:last-child {
    margin-right: 0px;
}

.buttonlogin {
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    color: #fff;
    border: none;
    padding: 10px, 229px, 10px, 229px;
    gap: 10px;
    width: 103px;
    height: 41px;
    left: 1217px;
    top: 25px;
    transition: 1s;
    justify-content: center;
    align-items: center;
    

}
    
/*preview START*/

main {
    width: 1440px;
    height: 765px;
    left: 0px;
    top: 0px;
}

.preview {
    min-height: 100vh;
    background: url(../travel/assets/img/garrett-parker-DlkF4-dbCOU-unsplash1.jpg); 
    background-size: cover;
    padding-top: 32px;
    
    height: 428px;
    padding-left: 120px;
    top: 122px;
}
.preview-title {
    max-width: 892px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    margin-bottom: 22px;
    
    color:#FFFFFF;
}

.preview-subtitle {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color:#FFFFFF;
    margin-bottom: 46px;
}

.search-form-preview {
    display:flex;
    flex-wrap: wrap;
    width: 892px;
    height: 95px;
    left: 120px;
    top: 416px;

    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    
}
 
.search-form-field {
    color: #F2785C;
    width: 646px;
   padding-left: 41.07px;
   border: 0;
   font-family: 'Aleo';
font-style: italic;
font-weight: 400;
font-size: 24px;
line-height: 29px;





}

.search-form-submit {

text-transform: rotate(-0.13deg);
font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
color: #FFFFFF;
background: #0D606F;
border: 0;
Padding: 10px, 32px, 10px, 32px
}


.search-form-submit:hover, search-form-submit:focus, search-form-submit:active {
    opacity: .50;
}

/* STEPS */

.steps {
    margin-bottom: 97px;
    margin-top: 80px;
  margin-left: 204px;
  margin-right: 240px;

}

.steps-wrap {
    max-width: 1440px;
    background-color: #FFFFFF;
    margin: 0 auto;
    
    
}
.steps-title {
    color: #F2785C;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    transform: rotate(-0.13deg);
    Width: 611px;
    Height: 53px;
    left: calc(50% - 611px/2 - 0px);
    top: calc(50% - 53px/2 - 95.01px);
    position: relative;
    
    }

.steps-cards {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
   
    grid-column: span 1;
}

.steps-cards-pic{
    display: flex   ;
    width: 100px;
    height: 100px;
    background: #F2785C;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
}

.steps-cards-title {
    width: 247px;
    height: 24px;
    left: 0px;
    top: 130px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;

}

.points {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(242, 120, 92, 0.5);
}

.points-2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #F2785C;

}

.arrow-vector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    gap: 10px;
    background: #0D606F;
    color:#FFFFFF;
    text-decoration: none;

}





/*DESTINATIONS*/

.destinations-wrap {
    max-width: 1440px;
    margin: 0 auto;
}

.destinational-title {
    
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 501px;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.photo-destinations {
    display: flex;
    justify-content: center;
    overflow: hidden;
}


.photo {
    position: relative;
    overflow: hidden;
    flex-direction: row;
   
    align-items: center;
    width: 800px;
  height: 800px;
    
   
   


}

.photo-Japan{
   
    margin-left: 320px;
  margin-right: 320px;
}

.photo-name {
    position: absolute;
    width: 108px;
height: 42px;
left: calc(50% - 108px/2 - 331px);
top: calc(50% - 42px/2 + 339px);

font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 97px;
text-transform: uppercase;
text-align: left;

color: #FFFFFF;

}


/*STORY*/

.story {
    min-height: 100vh;
    background: url(./assets/img/Rectangle33.jpg);
    background-size: cover;
    color:#FFFFFF 70%;
    
   
    width: 1445px;
    height: 1270px;
    left: 0px;
    top: 2404px;

}

/*FOOTER*/

footer {
    background: #F2785C;
    display: flex;
    position: relative;
    width: 1442px;
    height: 133px;
    left: 0px;
    top: 2404px;
}
.footer-icon {
    display: flex;
    flex-direction: row;
    gap: 20px;
}





  







    